.section--primary
  .container
    %h1
      %span= title(t('people_single').capitalize)
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_all')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :people_a_z_letter_path }

%section#content{ tabindex: "0" }
  .container
    = render partial: "pugin/elements/list", locals: { item_type: "people", data: @people }
