.section--primary
  .container
    %h1
      %span= t('people_single').capitalize
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.select_letter')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :people_a_z_letter_path }

%section#content
  .container
    = render partial: 'pugin/cards/person-list', locals: { people: @people }
