#content.section--primary{ tabindex: "0" }
  .container
    %h1= "#{@group.name} #{t('house_plural')}"

%section
  .container
    -if @houses.empty?
      = "#{t('no_content.empty_list.no_houses')}"
    -else
      %ul.list--block
        - @houses.each do |house|
          %li
            .list--details
              %h2= link_to(house.name, house_path(house.graph_id)) if house.name.present?
