- title("#{t('parties_and_groups').capitalize} - #{@parliament.date_range(date_format: '%Y')} #{t('parliament')}")
%section.section--primary
  .container
    %small= link_to("#{@parliament.date_range(date_format: '%Y')} #{t('parliament').capitalize}", parliament_path(@parliament.graph_id))
    %h1
      %span= t('parties_and_groups').capitalize

%section#content{ tabindex: "0" }
  .container
    %ul.list--block
      - @parties.each do |party|
        %li
          .card
            .card__details
              %h2= link_to(party.name, parliament_party_path(@parliament.graph_id, party.graph_id))
            .count
              %span.count__number= party.count
              %span.count__context= t('mp_count', count: party.member_count)
