#content.section--primary{ tabindex: "0" }
  .container
    %h1
      %span= title("#{t('current').capitalize} #{t('groups')}")
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.select_letter')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :groups_current_a_z_letter_path, all_path: @all_path }
