.section--primary
  .container
    %h1
      %span= title("#{t('current').capitalize} #{t('groups')}")
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_results')} #{params[:letter].capitalize}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :groups_current_a_z_letter_path, all_path: @all_path }

%section#content{ tabindex: "0" }
  .container
    = render partial: 'group_list', locals: { groups: @groups }
