.section--primary
  .container
    %h1
      %span= title("#{t('current_and_former').capitalize} #{t('groups')}")
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_all')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :groups_a_z_letter_path }

%section#content{ tabindex: "0" }
  .container
    = render 'group_list', locals: { groups: @groups }
