- title("#{@house.name} - #{t('current').capitalize} #{t('parties_and_groups')}")

#content.section--primary{ tabindex: "0" }
  .container

    %h1
      %span= "#{t('current').capitalize} #{t('parties_and_groups')}"

%section
  .container

    %ul.list--tab
      - if Parliament::Utils::Helpers::HousesHelper.commons?(@house)
        %li.active
          = t('commons')
      - else
        %li
          = link_to(t('commons'),house_parties_current_path(Parliament::Utils::Helpers::HousesHelper.commons_id))
      - if Parliament::Utils::Helpers::HousesHelper.lords?(@house)
        %li.active
          = t('lords')
      - else
        %li
          = link_to(t('lords'),house_parties_current_path(Parliament::Utils::Helpers::HousesHelper.lords_id))

    - if Parliament::Utils::Helpers::HousesHelper.lords?(@house) && Pugin::Feature::Bandiera.show_lords_ineligibility_banner?
      %p
        = t('count_justification_html', href: link_to(t('count_justification_link'), 'http://www.parliament.uk/mps-lords-and-offices/lords/-ineligible-lords/'))
    - if Parliament::Utils::Helpers::HousesHelper.commons?(@house)
      - if Parliament::Utils::Helpers::FlagHelper.dissolution?
        = render partial: 'shared/dissolution_message'
      - elsif Parliament::Utils::Helpers::FlagHelper.election?
        = render partial: 'shared/election_message'
    - if Parliament::Utils::Helpers::HousesHelper.commons?(@house)
      - if Parliament::Utils::Helpers::FlagHelper.post_election?
        = render partial: 'shared/election_message'

    %ol.list--block
      = render partial: 'houses/parties/party', collection: @parties
