%figure.avatar--round
  = link_to(media_show_path(@person.image_id), aria: { hidden: "true" }, tabindex: "-1") do
    %picture
      - if @person.image_id != "placeholder"
        %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{@person.image_id}.jpeg?crop=CU_1:1&width=186&quality=80", alt: "#{@person.display_name}" }
      - else
        %img{ src: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/images/placeholder_members_image.png", alt: "" }
