- page_title = title("#{@party.name} - #{t('current_and_former').capitalize} #{t('mps_and_lords')} #{t('a_to_z.a_to_z')}")
#content.section--primary{ tabindex: "0" }
  .container
    %h1
      %span= "#{@party.name} - #{t('current_and_former').capitalize} #{t('mps_and_lords')}"
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.select_letter')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :party_members_a_z_letter_path, route_args: [@party_id], all_path: @all_path }
