.section--primary
  .container
    %h1
      %span= title("#{@party.name} - #{t('current').capitalize} #{t('mps_and_lords')}")
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_all')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :party_members_current_a_z_letter_path, route_args: [@party.graph_id] }

    - if Parliament::Utils::Helpers::FlagHelper.dissolution?
      = render partial: 'shared/dissolution_message'
    - elsif Parliament::Utils::Helpers::FlagHelper.election?
      = render partial: 'shared/election_message'

%section#content{:tabindex => "0"}
  .container
    = render partial: "pugin/elements/list", locals: {item_type: "people", data: @people}
