.section--primary
  .container
    %h1
      %span= title("#{@party.name} - #{t('current_and_former').capitalize} #{t('mps_and_lords')}")
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_all')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :party_members_a_z_letter_path, route_args: [@party.graph_id] }

%section#content
  .container
    = render partial: "pugin/elements/list", locals: {item_type: "people", data: @people}
