#content.section--primary{ tabindex: "0" }
  .container
    %h1= title("#{@group.name} #{t('current')} #{t('positions')}")

%section
  .container
    -if @positions.empty?
      = "#{t('no_content.empty_list.no_positions')}"
    -else
      %ul.list--block
        - @positions.each do |position|
          %li
            .list--details
              %h2= position.name.present? ? position.name : ''
              - position.incumbencies.each do |incumbency|
                - incumbency.people.each do |person|
                  - if person.full_name.present?
                    %h2
                    %span= link_to(person.full_name, person_path(person.graph_id))
                    - if person.current_party.present?
                      = "#{person.current_party.name}"
                      = "(#{incumbency.date_range})"
