- title("#{@house.name} - #{t('current').capitalize} #{t('committee_plural')}")

.section--primary
  .container
    %h1
      %span= "#{t('current').capitalize} #{t('committee_plural')}"
      %span= "#{t('a_to_z.a_to_z')} - #{t('a_to_z.showing_all')}"

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :house_committees_current_a_z_letter_path, route_args: [@house.graph_id] }

    - if Parliament::Utils::Helpers::HousesHelper.commons?(@house)
      - if Parliament::Utils::Helpers::FlagHelper.dissolution?
        = render partial: 'shared/dissolution_message'
      - elsif Parliament::Utils::Helpers::FlagHelper.election?
        = render partial: 'shared/election_message'

- unless @letters.empty?

  %section#content{ tabindex: "0" }
    .container
      = render partial: "pugin/elements/list", locals: { item_type: "committees", data: @committees }
