- if @answering_body && @answering_body.name
  - title("#{@answering_body.name} - #{t('questions.answers_to_written_questions')}")
  .section--primary
    .container
      %h1
        %span= @answering_body.name
        %span.context= t('questions.answers_to_written_questions')

-if @answers_grouped_by_date && @answers_grouped_by_date.any?
  %section{ id: 'content', tabindex: '0' }
    .container
      %ol.list--events
        - @answers_grouped_by_date.each do |date, answers|
          - if answers && answers.any?
            %li
              - if date
                %h2
                  %time{ datetime: l(date, format: :datetime) }= l(date, format: :default)
              %ul.list--pipe
                - answers.each do |answer|
                  %li
                    .card
                      .card__details
                        %h3= link_to(answer.question.heading, question_path(answer.question.graph_id))
